<h1>商品一覧ページ</h1>


<h2>商品一覧</h2>

 <table class="table">
  <thead>
    <tr>
      <th >ID</th>
      <th >商品名</th>
      <th >税抜価格</th>
      <th >ジャンル</th>
      <th >ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= link_to item.id, admin_item_path(item.id) %>
      </td>
      <td>
        <%= link_to item.name, admin_item_path(item.id) %>
      </td>
      <td>
        <%= link_to item.price, admin_item_path(item.id) %>
      </td>
      <td>
        <%= link_to item.genre.name, admin_item_path(item.id) %>
      </td>
      <td>
        <% if item.is_active == true %>
        <%= link_to '販売中', admin_item_path(item.id) %>
        <% elsif items_active == false %>
        <%= link_to '販売停止中', admin_item_path(item.id) %>
        <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>