<h1>会員情報編集</h1>
 <%= form_with model: @customer,url: admin_customer_path(@customer.id) do |f| %>
 <form>
   <div class="row">
    <div class="col">
      <%= f.label :last_name, "姓" %><br/>
      <%= f.text_field :last_name,class:"form-control w-50",autofocus: true,autocomplete: "姓"%><br/>
    </div>
    <div class="col">
      <%= f.label :first_name, "名" %><br/>
      <%= f.text_field :first_name,class:"form-control w-50", autofocus: true,autocomplete: "名" %>
    </div>
   </div>
   <div class="row">
    <div class="col">
      <%= f.label :last_name_kana, "フリガナ姓" %><br />
      <%= f.text_field :last_name_kana,class:"form-control w-50", autofocus: true, autocomplete: "フリガナ姓" %><br />
    </div>
    <div class="col">
      <%= f.label :first_name_kana, "フリガナ名" %><br />
      <%= f.text_field :first_name_kana,class:"form-control w-50", autofocus: true, autocomplete: "フリガナ名" %>
    </div>
   </div>
    <div class="field">
     <%= f.label :postal_code, "郵便番号" %><br />
     <%= f.text_field :postal_code, autocomplete: "郵便番号" %>
   </div>

   <div class="field">
     <%= f.label :address, "住所" %><br />
     <%= f.text_field :address, autocomplete: "住所" %>
   </div>

   <div class="field">
     <%= f.label :telephone_number, "電話番号" %><br />
     <%= f.text_field :telephone_number, autocomplete: "電話番号" %>
   </div>

   <div class="field">
     <%= f.label :email, "メールアドレス" %><br />
     <%= f.email_field :email, autoforcus: true, autocomplete: "メールアドレス" %>
   </div>

   <%= f.submit "変更を保存する" %>
  <% end %>
</form>