<h1>ショッピングカート</h1>
 <%= link_to 'カートを空にする',cart_items_path(@item.id) %>
  <table class="table table-bordered">
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @item.each do |cart_item| %>
    <tr>
      <td>
       <%= @item.name %>
      </td>
      <td>
       <%= @item.price %>
      </td>
      <td>
       <%= f.select :amount,['1','2','3'],{include_blank: '1'} %>
       <%= f.submit '更新' %>
      </td>
      <td>
       <%= cart_item.item.with_tax_price %>
      </td>
      <td>
       <%= cart_item.subtotal%>
      </td>
       <% @合計金額 += (cart_item.item.price * 1.1).floor * cart_item.amount %>
    <% end %>
      <td>
       <%= link_to '削除する',cart_item_path(@item.id),method: :delete %>
      </td>
    </tr>

  </tbody>
 </table>