<h1>注文情報確認</h1>

<table class="table table-bordered">
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.with_tax_price %>
      </td>
      <td>
        <%= cart_item.amount %>
      </td>
      <td>
        <%= cart_item.subtotal %>
        <% @total_amount += cart_item.subtotal %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-bordered">
   <thead>
    <tr>
      <th>商品合計金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_amount  %></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
   <thead>
    <tr>
      <th>送料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.postage %></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
   <thead>
    <tr>
      <th>請求金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_amount += @order.postage %></td>
    </tr>
  </tbody>
</table>
<h2>支払方法</h2>
  <%= @order.payment_method_i18n %>
<h2>お届け先</h2>
  <%= "〒"+@customer.postal_code+" "+@customer.address+" "+@customer.last_name+@customer.first_name%>
