<h2>注文履歴詳細</h2>
<table class="table table-bordered">
   <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.created_at %>
      </td>
      <td>
         <%= "〒"+@customer.postal_code+" "+@customer.address+" "+@customer.last_name+@customer.first_name%>
      </td>
      <td>
        <%= @order.item.name %>
      </td>
      <td>
        <%= @total_amount += cart_item.subtotal %>
      </td>
      <td>
        <%= order.order_status %>
      </td>
      <td>
        <%= link_to "表示する", orders_path %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>