<h1>注文情報入力</h1>
<h2>支払情報</h2>
 <%= form_with model: @order,url: confirm_path  do |f| %>
    <%= f.radio_button :payment_method, "credit_card"%><br/>
    <%= f.label :payment_method_credit_card, "クレジットカード" %><br/>

    <%= f.radio_button :payment_method, "transfer" %><br/>
    <%= f.label :payment_method_transfer, "銀行振込" %><br/>

<h2>お届け先</h2>
    <%= f.radio_button :address_number,0 %>
    <%= f.label :address_number, "ご自身の住所" %>
    <%= @customer.postal_code+@customer.address+@customer.last_name+@customer.first_name%>

    <%= f.radio_button :address_number,1 %>
    <%= f.label :address_number, "登録済住所から選択" %>
    <%= f.collection_select :address_id, @addresses, :id, :address_display %>
    <%#= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>
  <div class="field">
    <%= f.radio_button :address_number,2 %>
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %><br />
    <%= f.text_field :postal_code, autocomplete: "0000" %><br />
    <%= f.label :address,"住所" %><br />
    <%= f.text_field :address, autocomplete: "大阪府大阪市" %><br/>
    <%= f.label :last_name, "苗字" %><br />
    <%= f.text_field :shipping_name, autofocus: true, autocomplete: "姓" %><br />
    <%= f.label :first_name, "名前" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "名" %><br/>

 </div>

<h2>支払方法</h2>

<h2>お届け先</h2>

<% end %>