<h1>注文情報入力</h1>
 <%= form_with model: @order,url: confirm_path  do |f| %>
    <%= f.radio_button :payment_method, "credit_card"%>
    <%= f.label :payment_method_credit_card, "クレジットカード" %>

    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method_transfer, "銀行振込" %>
 <% end %>

<h2>支払方法</h2>

<h2>お届け先</h2>