<div class="container">
  <h1>商品詳細</h1>
  　<%= form_with model: CartItem.new, url: cart_items_path do |f| %>
  <div class="row">
    <div class="col-4">
      <%= image_tag @item.item_image, size: "300x300" %>
    </div>
    <div class= "col-7">
      <table class="table table-borderless">
         <tr>
          <th>商品名</th>
           <td>
            <%= @item.name %>
          </td>
         </tr>
        <tr>
         <th>商品説明</th>
         <td>
          <%= @item.introduction  %>
         </td>
        </tr>
       <tr>
        <th>税込価格(税抜価格)</th>
        <td>
          <%= @item.price %>
        </td>
       </tr>
       <tr>
        <th>個数</th>
        <td>
           <%= f.select :amount, ['1', '2', '3'] %>
        </td>
      </tr>
     </table>
     <div>
      <%= f.submit 'カートに入れる',class:"btn btn-success" %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
     </div>
   </div>
  </div>
  <% end %>
</div>