<div class="container">
  <h1>商品詳細</h1>
  　<% form_with model: Item.show url: cart_items_path do |f| %>
  <div class="row">
    <div class="col-4">
      <%= image_tag @item.image, size: "300x300" %>
    </div>
    <div class= "col-7">
      <table class="table table-borderless">
         <tr>
          <th>商品名</th>
           <td>
            <%= @item.name %>
          </td>
         </tr>
        <tr>
         <th>商品説明</th>
         <td>
          <%= @item.introduction  %>
         </td>
        </tr>
       <tr>
        <th>税込価格(税抜価格)</th>
        <td>
          <%= @item.price %>
        </td>
       </tr>
       <tr>
        <th>個数</th>
        <td>
           <%= f.select :amount, ['1', '2', '3'], {include_blank: '数量'} %>
        </td>
      </tr>
     </table>
     <div>
      <%= link_to 'カートに入れる', cart_items_path(@item.id) %>
     </div>
     <% end %>
   </div>
  </div>
</div>